# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
venv/
ENV/

# Temporary media & downloads
downloads/
vector_db/
*.wav
*.mp3
*.m4a
*.mp4
*.webm
*.ogg

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
